
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="/Bookmarks/Create"> Add a new bookmark </a>

<a href="/User/Logout"> Logout @ViewData["userHandle"] </a>

<div class="all_bookmarks">

</div>